<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <form action="/create" method="post">
      <input type="text" name="id" placeholder="product id"/>
      <br/>
      <input type="text" name="name" placeholder="product name"/>
      <br/>
      <input type="text" name="url" placeholder="product link url"/>
      <br/>
      <input type="text" name="price" placeholder="price"/>
      <br/>
      <input type="text" name="tbnailImg" placeholder="img source url"/>
      <br/>
      <input type="submit" value="register"/>
    </form>
  </body>
</html>
